.copyright {
  margin-bottom: auto;
  position: fixed;
  bottom: auto;
  margin: -8px;
  padding: 20px 0px 0px;
  height: 50px;
  width: 100%;
  background-color: black;
  text-align: center;
  position: absolute;
  left: 0px;
  float: left;
  margin: 0 0 0;
  padding: 0 0 2px;
  z-index: 1;
}

h5 {
  color: white;
  text-align: center;
  padding-top: 13px;
}
