.main-nav {
  color: white;
  opacity: 0.5;
}

.main-nav:hover {
  color: white;
  opacity: 1;
  text-decoration: none;
}

.main-nav-active {
  opacity: 1;
}

.navbar {
  z-index: 2;
  animation: fadeIn 2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
