.app {
  background: url("../assets/Images/hero1.jpeg") no-repeat;
  background-size: cover;
background-attachment: fixed;
background-position: center center;

  overflow: hidden;
  height: 100vh;
  min-height: 100%;
}
