nav {
  margin: -8px;
  padding: 20px 0px 0px;
  height: 50px;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
  float: left;
  margin: 0 0 3em;
  padding: 0 0 2px;
  z-index: 1;
}

h3 {
  padding-left: 20px;
  color: white;
}
